In [1]:
import os
from tileTools.makeTiles import makeTiles
from shutil import rmtree
#raw_inputs = "D:/ualr-cahc/murf-tiling/TIFFs/GeoTIFFs/Metroplan Files Renamed"
raw_inputs = "e:/"
#input_filenames = ["1960_Metro_Area_Office_and_Commercial_Uses.tif", "1960_NOLIT_Census_Tract_and_Block.tif", "1960_PULCO_Census_ED_Map.tif", "1960_PULCO_Census_Tract_Map_A.tif"]
#input_filenames = ['1960_Metro_Area_Office_and_Commercial_Uses.tif']
input_filenames = ["1960_Metro_Area_Office_and_Commercial_Uses.tif", "1970s_LITRK-NOLIT_SMSA_Industrial.tif", "1998_AHTD_060772_LITRK_Hinson_Rd_Sidewalks_25.tif"]
input_filepaths = [os.path.join(raw_inputs, file) for file in input_filenames]
#output_dir = "d:/ualr-cahc/murf-tiling/tests/osgeo_osm_test2/"
output_dir = "e:/test"
tile_options = {
    "nb_processes": 8,
    "zoom": [8,25]
}
makeTiles(input_filepaths, output_dir, 8, 25)

INSERT INTO batch (output_dir) VALUES (%s);
INSERT INTO translation (batch_id, layer_name) VALUES (%s, %s);
UPDATE translation SET already_exists=%s WHERE batch_id=%s AND layer_name=%s;
Skipped: 1960_Metro_Area_Office_and_Commercial_Uses.tif
INSERT INTO translation (batch_id, layer_name) VALUES (%s, %s);
UPDATE translation SET already_exists=%s WHERE batch_id=%s AND layer_name=%s;
INSERT INTO tile_layers (batch_id, layer_name) VALUES (%s, %s);
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2406528000
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2477578100
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2770786100
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 4513310800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 10050691200
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 27686378200
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 84641495800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
UPDATE tile_layers SET duration=%s WHERE batch_id=%s AND layer_name=%s;
INSERT INTO translation (batch_id, layer_name) VALUES (%s, %s);
UPDATE translation SET duration=%s WHERE batch_id=%s AND layer_name=%s;
INSERT INTO tile_layers (batch_id, layer_name) VALUES (%s, %s);
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 10441676500
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 4374709500
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2265716300
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2234786500
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2255803800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2270479600
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2256546400
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2254332400
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2396541000
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2310477500
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2341885300
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2424379800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 2880720800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 6728287800
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 7142217900
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 33708349200
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
INSERT INTO tile_sets (batch_id, layer_name, zoom) VALUES (%s, %s, %s);
Generating Base Tiles:
0...10...20...30...40...50...60...70...80...90...100
tile_set duration 71664786100
UPDATE tile_sets SET duration=%s WHERE batch_id=%s AND layer_name=%s AND zoom=%s;
UPDATE tile_layers SET duration=%s WHERE batch_id=%s AND layer_name=%s;

342530162300

In [2]:
from shutil import rmtree
rmtree("e:/test/tiles")

In [2]:
from tileTools.dbConnect import dbConnect

In [3]:
dbKwargs = {
    'password': "***REMOVED***",
    'database': 'murf_tiling'
}

In [4]:
db = dbConnect(**dbKwargs)

In [6]:
cursor = db.cursor()
cursor.execute("insert into batch (output_dir) VALUES ('e:\\test')")

In [5]:
import traceback

In [14]:
try:
    raise ValueError
except Exception as err:
    error = traceback.format_exc(chain=True)

Traceback (most recent call last):      
]File "d:\ualr-cahc\murf-tiling\python\tileTools\makeTiles.py", line 100, in makeTileLayer        
tile_sets.update({'duration': duration}, tile_set_key)      
File "d:\ualr-cahc\murf-tiling\python\tileTools\makeTiles.py", line 45, in update        
self.execute_statement(statement, params)      
File "d:\ualr-cahc\murf-tiling\python\tileTools\makeTiles.py", line 58, in execute_statement        
cursor.execute(statement, params)      
File "d:\ualr-cahc\murf-tiling\env\lib\site-packages\mysql\connector\cursor_cext.py", line 257, in execute        
prepared = self._cnx.prepare_for_mysql(params)      
File "d:\ualr-cahc\murf-tiling\env\lib\site-packages\mysql\connector\connection_cext.py", line 684, in prepare_for_mysql    
    result = self._cmysql.convert_to_mysql(*params)    
    _mysql_connector.MySQLInterfaceError: Python type function cannot be converted